body {
  background-color: white;
}
div {
  margin: 0px;
}

.arriba {
  margin: 10px 10px;
  width: 97.9%;
  height: 120px;
  color: #101010;
  background-color: blue;
  border-radius: 5px;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 10px;
}

.izquierda {
  width: 30%;
  height: 430px;
  background-color: red;
  border-radius: 5px;
}

.derecha {
  width: 67%;
  height: 430px;
  border-radius: 5px;
}
.derecha2,
.derecha3 {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.tercero {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.centroizq,
.centroder {
  width: 49%;
  height: 150px;
  border-radius: 5px;
}
.centroizq {
  background-color: purple;
}
.centroder {
  background-color: gold;
}
.derecha2 {
  background-color: grey;
}
.derecha3 {
  background-color: pink;
}
